.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: #41902b;
}

mat-card {
  margin: 1rem;
}

.bloqueEstadisticas {
  text-align: center;
}

mat-button-toggle {
  width: 50vw;
  color: white;
}

.mat-button-toggle-checked {
  color: white;
}

.botonEgreso {
  background-color: rgb(175, 33, 33);
}

.botonIngreso {
  background-color: rgb(43, 139, 30);
}

.saldos-cantidad {
  font-size: large;
}

.saldos-descripcion {
  font-size: small;
}
