<div class="container">
  <div class="content">
    <!-- ESTADÍSTICAS -->
    <div>
      <mat-card style="margin: 1rem;">
        <div fxLayout="row" fxLayoutAlign="space-around" class="container">

          <div class="bloqueEstadisticas" style="color: red">
            <mat-icon>vertical_align_bottom</mat-icon> <br>
            <span class="saldos-cantidad"><b>{{ 425.00 | currency: 'EUR'}}</b></span>
            <br>
            <span class="saldos-descripcion">Egresos totales</span>
          </div>

          <div class="bloqueEstadisticas">
            <mat-icon>euro</mat-icon> <br>
            <span class="saldos-cantidad"><b>{{ 1000.00 | currency: 'EUR'}}</b></span>
            <br>
            <span class="saldos-descripcion">Saldo actual</span>
          </div>

          <div class="bloqueEstadisticas" style="color: green">
            <mat-icon>publish</mat-icon> <br>
            <span class="saldos-cantidad"><b>{{ 1450.00 | currency: 'EUR'}}</b></span>
            <br>
            <span class="saldos-descripcion">Ingresos totales</span>
          </div>

        </div>

      </mat-card>
    </div>
    <!-- // ESTADÍSTICAS -->

    <!-- BOTONES DE ACCESO -->
    <div fxLayout="row" fxLayoutAlign="space-around" class="content">

      <mat-button-toggle-group #botonesDeAcceso="matButtonToggleGroup">

        <mat-button-toggle class="botonEgreso"
                           (click)="gestionarItem('egreso')"
                           matTooltip="Agregar un gasto o egreso">
          <mat-icon>remove</mat-icon> Egreso
        </mat-button-toggle>

        <mat-button-toggle class="botonIngreso"
                           (click)="gestionarItem('ingreso')"
                           matTooltip="Agregar un ingreso">
          <mat-icon>add</mat-icon> Ingreso
        </mat-button-toggle>

      </mat-button-toggle-group>

    </div>
    <!-- // BOTONES DE ACCESO -->

    <!-- TRANSACCIONES -->
    <div>
      <mat-card>
        <mat-card-title>
          <div class="mat-headline">Transacciones</div>
        </mat-card-title>
        <mat-card-content>

          <mat-list>

            <mat-list-item *ngFor="let transaccion of transacciones"
                           fxLayout="column"
                           fxLayoutAlign="space-around">
              <div fxFlex="10%" align="start" style="margin-right: 1rem;">
                <div class="mat-body-2" align="center">
                  {{ transaccion.fechaCreacion | date: 'dd' }}
                  <br>
                  {{ transaccion.fechaCreacion | date: 'MMM' | uppercase }}
                </div>
              </div>

              <div fxFlex="55%" fxFlex.xs="40%" align="start">
                <span class="mat-body-1">{{ transaccion.descripcion | uppercase }}</span>
              </div>

              <div fxFlex="10%" fxFlex.xs="10%" align="start" style="margin-right: 0.5rem;">
                <div class="mat-body-1" [ngStyle]="{'color': transaccion.tipo === 'ingreso' ? 'green': 'red'}">
                  <b>{{ transaccion.cantidad | currency:'EUR'}}</b>
                </div>
                <div class="mat-caption">{{ 1000.00 | currency:'EUR' }}</div>
              </div>

              <div fxFlex="25%" fxFlex.xs="40%" align="end">
                <div>
                  <button mat-icon-button matTooltip="Eliminar item" (click)="eliminar(transaccion.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Editar item" (click)="gestionarItem('editar', transaccion.id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>

            <!-- <mat-list-item fxLayout="column" fxLayoutAlign="space-around">
              <div fxFlex="10%" align="start" style="margin-right: 1rem;">
                <div class="mat-body-2" align="center">
                  23 <br>
                  DOM
                </div>
              </div>

              <div fxFlex="55%" fxFlex.xs="40%" align="start">
                <span class="mat-body-1">{{ 'Ingreso nómina' | uppercase }}</span>
              </div>

              <div fxFlex="10%" fxFlex.xs="10%" align="start" style="margin-right: 0.5rem;">
                <div class="mat-body-1" style="color: green"><b>{{ 1425.00 | currency }}</b></div>
                <div class="mat-caption">{{ 1425.00 | currency }}</div>
              </div>

              <div fxFlex="25%" fxFlex.xs="40%" align="end">
                <div>
                  <button mat-icon-button matTooltip="Eliminar item"
                          (click)="openSnackBar('Item borrado', 'Deshacer')">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Editar item" (click)="gestionarItem('editar', 2)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>

              <mat-divider></mat-divider>
            </mat-list-item> -->

          </mat-list>

        </mat-card-content>
      </mat-card>
    </div>
    <!-- // TRANSACCIONES -->

  </div>
</div>
