<div mat-dialog-title *ngIf="!isEdit">
  <div>Añadir {{ (data.tipo) | uppercase }}</div>
</div>

<div mat-dialog-title *ngIf="isEdit">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div>Editar entrada</div>
    <div>
      <button mat-button>
        <mat-icon align="end" matTooltip="Eliminar entrada">delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="mat-caption">Última edición: 23/02/2020</div>
</div>

<form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <input matInput
             #descripcion
             placeholder="Descripción"
             type="text" required
             maxlength="35"
             [(ngModel)]="transaccion.descripcion"
             name="descripcion">
      <mat-hint align="start"><strong>Introduzca una descripción corta</strong> </mat-hint>
      <mat-hint align="end">{{descripcion.value.length}} / 35</mat-hint>

      <mat-error *ngIf="form.controls['descripcion']?.errors?.required">Este campo es obligatorio</mat-error>


    </mat-form-field>

    <mat-form-field appearance="fill">

      <mat-label>Cantidad</mat-label>
      <input matInput
             #cantidad
             type="text"
             min="0.01" required
             pattern="^\d+((\.|\,)\d{2})?$"
             [(ngModel)]="transaccion.cantidad"
             style="text-align: right; -moz-appearance: textfield;"
             name="cantidad">
      <span matPrefix>€&nbsp;</span>
      <mat-hint align="start"><strong>Solo se aceptan valores numéricos</strong> </mat-hint>

      <mat-error *ngIf="form.controls['cantidad']?.errors?.required">Este campo es obligatorio</mat-error>
      <mat-error *ngIf="form.controls['cantidad']?.errors?.pattern">
        El valor introducido no es un formato válido
      </mat-error>


    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button (click)="onCancel(); $event.preventDefault()" type="button" mat-button color="warn">Cancelar</button>
    <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Guardar</button>
  </mat-dialog-actions>

</form>
