<div mat-dialog-title>
  {{ (!registerForm) ? 'Inicio de sesión' : 'Formulario de registro' }}
</div>

<form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
  <div mat-dialog-content>

    <div *ngIf="registerForm" fxLayout="row" fxLayout.xs="column">

      <div>
        <mat-form-field fxFill>
          <input matInput
                 #nombre
                 placeholder=" Nombre"
                 type="text"
                 [(ngModel)]="usuario.nombre"
                 name="nombre">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field fxFill>
          <input matInput
                 #apellido
                 placeholder="Apellido"
                 type="text"
                 [(ngModel)]="usuario.apellido"
                 name="apellido">
        </mat-form-field>
      </div>

    </div>

    <div fxLayout="column" style="width: 100%;">

      <mat-form-field>
        <input matInput
               #correo="ngModel"
               placeholder="Correo electrónico"
               type="text" required
               [(ngModel)]="usuario.correo"
               [pattern]="EmailRegex"
               name="correo">

        <mat-error>
          <span *ngIf="correo?.errors?.required">Este campo es obligatorio</span>
          <span *ngIf="correo?.errors?.pattern">No es un correo válido</span>
        </mat-error>

      </mat-form-field>

    </div>

    <div fxLayout="column" style="width: 100%;">

      <mat-form-field>
        <input matInput
               #password="ngModel"
               placeholder="Contraseña"
               [type]="hide ? 'password' : 'text'"
               required
               [(ngModel)]="usuario.password"
               name="password">

        <button mat-icon-button
                matSuffix
                type="button"
                (click)="hide = !hide; $event.disableDefault()">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="password?.errors?.required">Este campo es obligatorio</mat-error>

      </mat-form-field>

    </div>
  </div>
  <mat-dialog-actions>

    <div fxLayout="row" fxFlexAlign="center" style="width: 100%;">

      <div fxFlex="100%">
        <button mat-raised-button
                [disabled]="!form.valid"
                color="primary"
                fxFill
                type="submit">Iniciar sesión
        </button>
      </div>

    </div>
    <div fxLayout="row" fxFlexAlign="center" style="width: 100%; margin-top: 10px;">

      <div fxFlex="100%">
        <button mat-button
                fxFill
                (click)="registerForm = !registerForm; resetForm(form); $event.preventDefault()"
                type=" button">
          {{ (registerForm) ? '¿Ya tienes una cuenta?' : '¿No tienes una cuenta?'}}
        </button>
      </div>

    </div>
  </mat-dialog-actions>
</form>
