<div class="container">
  <mat-card class="card">
    <mat-card-title>
      <div class="mat-headline">Mi perfil</div>
    </mat-card-title>

    <mat-card-content>

      <form #form="ngForm">

        <div fxLayout="row" fxLayout.xs="column">

          <div fxFlex="100%">
            <mat-form-field fxFill>
              <input matInput
                     #nombre
                     placeholder="Nombre"
                     type="text"
                     maxlength="35"
                     [(ngModel)]="usuario.nombre"
                     name="nombre">
            </mat-form-field>
          </div>
          <div fxFlex="100%">
            <mat-form-field fxFill>
              <input matInput
                     #apellido
                     placeholder="Apellido"
                     type="text"
                     maxlength="35"
                     [(ngModel)]="usuario.apellido"
                     name="apellido">
            </mat-form-field>
          </div>

        </div>

        <div fxLayout="row">

          <mat-form-field fxFill>
            <input matInput
                   #correo="ngModel"
                   placeholder="Correo electrónico"
                   type="text" required
                   maxlength="35"
                   [(ngModel)]="usuario.correo"
                   [pattern]="EmailRegex"
                   name="correo">

            <mat-error>
              <span *ngIf="correo?.errors?.required">Este campo es obligatorio</span>
              <span *ngIf="correo?.errors?.pattern">No es un correo válido</span>
            </mat-error>
          </mat-form-field>

        </div>

        <div fxLayout="row">

          <mat-form-field fxFill>
            <input matInput
                   #password="ngModel"
                   placeholder="Contraseña"
                   type="password" required
                   maxlength="35"
                   [(ngModel)]="usuario.password"
                   name="password">

            <mat-error *ngIf="password?.errors?.required">Este campo es obligatorio</mat-error>

          </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="center">

          <div fxFlex="50%">
            <button mat-raised-button
                    [disabled]="!form.valid"
                    color="primary"
                    fxFill
                    type=" submit">Guardar
            </button>
          </div>

        </div>

        <div fxLayout="row" fxFlexAlign="center" style="margin-top: 25px;">

          <div fxFlex="100%">
            <button mat-button
                    color="warn"
                    fxFill
                    (click)="$event.preventDefault()"
                    type="button">Eliminar mi cuenta y todos mis datos con ella
            </button>
          </div>

        </div>




      </form>

    </mat-card-content>
  </mat-card>
</div>
