<div class="container">
  <div class="content">
    <mat-card class="card">
      <mat-card-title style="text-align:center; margin-top: 2rem;">
        <div class="mat-headline">Bienvenido a My Wallet APP</div>
      </mat-card-title>
      <mat-card-content>
        <p>
          Con ésta aplicación podrás controlar tus gastos y llevar cuenta de tu billetera.
        </p>
        <p>
          <b>Registrate y usa esta app de forma totalmente gratuita</b>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
