<mat-sidenav-container>

  <!-- SIDENAV -->
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item *ngIf="!estaAutenticado" (click)="login(); toggleSidenav()">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Inciar sesión / Registro</span>
      </a>
      <a mat-list-item (click)="toggleSidenav()" routerLink="/">
        <mat-icon class="icon">home</mat-icon>
        <span class="label">Inicio</span>
      </a>
      <a mat-list-item *ngIf="estaAutenticado" (click)="toggleSidenav()" routerLink="/transacciones">
        <mat-icon class="icon">euro_symbol</mat-icon>
        <span class="label">Transacciones</span>
      </a>
      <a mat-list-item *ngIf="estaAutenticado" (click)="toggleSidenav()" routerLink="/perfil">
        <mat-icon class="icon">account_box</mat-icon>
        <span class="label">Perfil</span>
      </a>
      <a mat-list-item *ngIf="estaAutenticado" (click)="logout(); toggleSidenav()" type="button">
        <mat-icon class="icon">exit_to_app</mat-icon>
        <span class="label">Cerrar sesión</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- SIDENAV -->

  <mat-sidenav-content>

    <!-- NAVBAR HEADER -->
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">
          My Wallet App
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li *ngIf="!estaAutenticado">
            <a>
              <mat-icon class="icon">input</mat-icon>
              <span class="label" (click)="login();">Inciar sesión</span>
            </a>
          </li>
          <li>
            <a routerLink="/">
              <mat-icon class="icon">home</mat-icon>
              <span class="label"> Inicio</span>
            </a>
          </li>
          <li *ngIf="estaAutenticado">
            <a
               routerLink="/transacciones">
              <mat-icon class="icon">euro_symbol</mat-icon>
              <span class="label">Transacciones</span>
            </a>
          </li>
          <li *ngIf="estaAutenticado">
            <a
               routerLink="/perfil">
              <mat-icon class="icon">account_box</mat-icon>
              <span class="label">Perfil</span>
            </a>
          </li>
          <li *ngIf="estaAutenticado">
            <a type="button" (click)="logout();">
              <mat-icon class="icon">exit_to_app</mat-icon>
              <span class="label">Cerrar sesión</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <!-- // NAVBAR HEADER -->

    <!-- MAIN -->
    <main>
      <router-outlet></router-outlet>
    </main>
    <!-- // MAIN -->
  </mat-sidenav-content>
</mat-sidenav-container>
